/*Imported fonts*/
@font-face {
  font-family: 'hakuna_sans';
  src: url('../font/hakuna-sans-webfont.woff2') format('woff2'),
       url('../font/hakuna-sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'modern_sanslight';
  src: url('../font/modernsans-light-webfont.woff2') format('woff2'),
       url('../font/modernsans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nb_architekt_stdbold';
  src: url('../font/nbarchitektstd-bold-webfont.woff2') format('woff2'),
       url('../font/nbarchitektstd-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nb_architekt_stdlight';
  src: url('../font/nbarchitektstd-light-webfont.woff2') format('woff2'),
       url('../font/nbarchitektstd-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nb_architekt_stdregular';
  src: url('font/nbarchitektstd-regular-webfont.woff2') format('woff2'),
       url('font/nbarchitektstd-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nb_architekt_std_neuebold';
  src: url('../font/nbarchitektstdneue-bold-webfont.woff2') format('woff2'),
       url('../font/nbarchitektstdneue-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nb_architekt_std_neuelight';
  src: url('../font/nbarchitektstdneue-light-webfont.woff2') format('woff2'),
       url('../font/nbarchitektstdneue-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nb_architekt_std_neueregular';
  src: url('../font/nbarchitektstdneue-regular-webfont.woff2') format('woff2'),
       url('../font/nbarchitektstdneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*Actual Styles*/

body {
  background-color: rgb(36, 36, 36);
  overflow-y: hidden; 
  overflow-x: hidden; 
}


/* The sidebar menu */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: 'nb_architekt_std_neuebold', sans-serif;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  text-align: right;
  list-style-position: right;
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #969696;
  transition: color 0.3s ease-in-out;
}


/* ......../ media query /.......... */


  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    height: 100vh;
    max-width: 300px;
    transform: translate(1000%);
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    transition: transform 0.5s ease-in-out;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }


  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(89vw);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  
  html {
    font-size: 65%;
  }

  .navbar .menu-items li{
      font-size: 1.6rem;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }

  
.hi {
  position: absolute;
  align-content: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  top: 35vh;

}

.hi h1 {
  color: #f1f1f1;
  font-family: 'hakuna_sans', Arial, sans-serif;
  font-size: 72px;
  text-align: center;
}

.hi h2 {
  color: #f1f1f1;
  font-family: 'modern_sanslight', Arial, sans-serif;
  font-size: 32px;
  text-align: center;
}